@import 'tailwindcss';

@theme {
  --color-brand: #e70012;
  --color-surface: #0a0a0a;
}

@layer base {
  html {
    color-scheme: dark;
  }

  body {
    min-width: 20rem;
    min-height: 100vh;
    margin: 0;
  }

  #root {
    min-height: 100vh;
  }
}
